.logo {
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    /* z-index: 10; */
}

.figures {
    width: 500px;
    height: 500px;
    background-color: #d9d9d9;
    position: absolute;
    top: 0;
    left: 0;
}

.round_big {
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: #248456;
    top: -134px;
    left: -118px;
    z-index: 1;
}

.round_small {
    width: 125px;
    height: 125px;
    background-color: #0CA565;
    border-radius: 50%;
    position: absolute;
    top: 170px;
    left: 280px;
    z-index: 3;
}

.rod_blue {
    width: 399px;
    height: 59px;
    background-color: #1C3F9B;
    position: absolute;
    left: 53px;
    top: 195px;
    transform: rotate(47deg);
    z-index: 2;
}

.rod_purple {
    width: 373px;
    height: 99px;
    background-color: #920FBF;
    position: absolute;
    left: 64px;
    top: 335px;
    border-radius: 36px;
    z-index: 3;
}

.triangle {
    position: absolute;
    left: 377px;
    width: 0;
    height: 0;
    border-bottom: 134px solid #CE3508;
    border-left: 123px solid transparent;
}